@import "@/styles/_variables.scss";
@import "@/styles/_media.scss";

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 60px 0;
  position: relative;

  @include md() {
    padding: 20px;
  }
}

.content {
  @include container;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  @include lg() {
    flex-direction: column;
  }

  .containerImage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex: 0.4;
    position: relative;

    @include lg() {
      align-items: center;
      justify-content: center;
      flex: 1;
      margin-bottom: 20px;
    }
  }

  .faq {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0.6;

    @include lg() {
      order: +1;
    }

    .accordionItem {
      width: 100%;
      border-radius: $border-default;
      background-color: $bg-secondary;
      margin-bottom: 14px;
      overflow: hidden;
      height: auto;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid $branding;
      }
    }

    .answer {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-out;
    }

    .answer p {
      padding: 20px;
      color: $text-body;
    }

    .question {
      padding: 20px;
      font-weight: 900;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      overflow: hidden;
    }

    .question .boxIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $bg-tertiary;
      border-radius: 50%;
      padding: 8px;

      svg {
        color: $branding;
        width: 20px;
        height: 20px;
      }
    }

    .closeParagraph {
      color: $text-body;
    }

    .openTitle {
      color: $text-contrast;

      background-color: $branding;
    }
  }
}
