$branding: #e5be5b;

/* Cores de fundos */
$bg-primary: #0f0f0f;
$bg-secondary: #212121;
$bg-tertiary: #3a3a3a;

/* Cores dos textos */
$text-title: #eeeeee;
$text-body: #bdbdbd;
$text-contrast: #212121;

/* Border radius */
$border-default: 4px;
$border-xl: 200px;
